@import "bootstrap-sprockets";
@import "bootstrap";

$blue-nav: #2574A9;
$add-button: #EF8136;
$white: #FFFFFF;
$blue-card-header: #81CFE0;
$mid-grey: #818080;
$grey-background: #D8D8D8;

@import "https://fonts.googleapis.com/css?family=Roboto";

body {
  position: relative;
  height: 1024px;
  width: 1372px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  background: $grey-background;
}

/* fixed header */
.nav {
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100%;
  top: 0%;
  left: 0;
  background: $blue-nav;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .header-text {
    color: $white;
    padding: 5px;

    &:hover {
      text-decoration: none;
    }
  }

  .nav-profile-photo {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
  }
}
/* end header */

.main-container {
  margin-top: 50px;
}

.schedule-photo-container {
  display: flex;
  flex-direction: row;
}

.user-photos-container {
  background: #FFF;
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-top: 100px;

  .user-photo {
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 50%;
  }
}

.schedule-container {
  background: #FFF;
  overflow: auto;
  white-space: nowrap;
  margin-left: 25px;

  .each-hour {
    display: inline-block;
    margin: 25px;
    width: 100px;
    height: 50px;
    //background: tomato;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 1.6em;
    }
  }
  .hour-block {
    display: inline-block;
    margin: 25px;
    width: 100px;
    height: 35px;
    background: red;
    border-radius: 5px;
  }
}
